{
    "singleQuote": false,
    "trailingComma": "all",
    "tabWidth": 4,
    "printWidth": 120,
    "overrides": [
        {
            "files": ".prettierrc",
            "options": {
                "parser": "json"
            }
        }
    ]
}